@font-face {
font-family: "font";
src: url("./old/MoscowSansLight.woff") format("truetype");
src: url("./otf/MoscowSansLight.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "fontReg";
    src: url("./old/MoscowSansRegular.woff") format("truetype");
    src: url("./otf/MoscowSansRegular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
    font-family: font;
    color: white;
    font-size: 18px;
}
h6{
    margin: 0;
}
body {
    margin: 0;
}
img { pointer-events: none; }
#carousel {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
#stock {
    height: 100vh;
    position: relative;
    display: inline-flex;
}
.blackBlind {
    width: 100vw;
    height: 100%;
    background-color: black;
}
#scheme {
    width: 100vw;
    height: 100px;
    background: linear-gradient(#1D2129 35%, rgba(0, 0, 0, 0));
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
}
#schemeScroll {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-top: 24px;
}
.way {
    position: relative;
    display: inline-flex;
}
.wayLine {
    width: 100px;
    background-color: white;
    height: 2px;
}
#currentStation {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 21px;
}
#splash {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    margin: auto;
    z-index: 2;
    background-color: #1D2129;
}
#bgc {
    background-color: #1D2129;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 480px){
    #splash {
        width: 300px;
        height: 300px;
    }
}
.loading {
    width: 100%;
    height: 100%;
    background: url('https://coddmac.store/BKL/loader/loader.gif') no-repeat;
    background-size: contain;

}
.stationContainer {
    height: 43px;
}
@keyframes tonul {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes toall {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.curNul{
    animation-duration: 0.5s;
    animation-name: tonul;
}
.curAll{
    animation-duration: 0.5s;
    animation-name: toall;
}
#information{
    position: absolute;
    left: 400px;
    top: 600px;
    display: flex;
    align-items: center;
    width: 304px;
}
#informationPapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin-right: 20px;
}
#top{
    position: absolute;
    width: 10px;
    animation-duration: 4s;
    animation-name: arrowRotateTop;
    animation-iteration-count: infinite;
}
#mouse{
    height: 32px;
    margin: 7px 0;
}
#bottom{
    position: absolute;
    transform: rotate(180deg) scale(1) translate(0, 0);
    animation-duration: 4s;
    animation-name: arrowRotateBottom;
    animation-iteration-count: infinite;
    width: 10px;
}

#information span{
    font-family: fontReg;
    font-size: 14px;
}
@media screen and (max-width: 960px){
    #information{
        display: none;
    }
}
@keyframes arrowRotateTop {
    0% {
        top: -10px;
    }
    10% {
        top: -5px;
    }
    20%  {
        top: -10px;
    }
    30% {
        top: -5px;
    }
    40% {
        top: -10px;
    }
    100% {
        top: -10px;
    }
}
@keyframes arrowRotateBottom {
    0% {
        bottom: -10px;
    }
    10% {
        bottom: -5px;
    }
    20%  {
        bottom: -10px;
    }
    30% {
        bottom: -5px;
    }
    40% {
        bottom: -10px;
    }
    100% {
        bottom: -10px;
    }
}